<!DOCTYPE html>
<html>
<head>
{% include 'lib/lib.html.j2' %}
</head>
{% block content %}
    <body class="body">
    {% include 'headers.html.j2' %}
    <script src="{{static('js/ajax-call.js')}}"></script>
    <body>
        <div class="container">
          <div class="row">
            <ul class="cards" id="image-card-id">
                {%for m in media%}
                  <li class="cards_item">
                    <div class="card">
                      <div class="card_image image-fluid"><img src="{{m.image.url}}"></div>
                      <div class="card_content">
                        <button type="button" class="btn card_btn">{{m.title|title}}</button>
                      </div>
                    </div>
                  </li>
                  {%endfor%}
            </ul>
      </div>
      </div>
  {%endblock%}


</body>
</html>

