<link href="{{static ('css/menu.css')}}" rel="stylesheet">


    <div id="list1" class="dropdown-check-list" tabindex="100">
        <span class="anchor">Filter</span>
        <ul id="items" class="items" onclick="filter()">
        {% for cat in category %}
            <li><input type="checkbox" class="checkbox" value="{{cat.id}}"/>{{cat}} </li>
        {% endfor %}
        </ul>
    </div>
    <div id="list1" class="dropdown-check-list" tabindex="100">
        <a href="javascript:location.reload();">Clear</a>
    </div>

<script src="{{static('js/menu.js')}}">



</script>